# Ignore Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
[Pp]ackages/com.unity.package-manager.cache/

# Ignore IDE/project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Allow key Unity folders
!Assets/
!ProjectSettings/
!Packages/
